[submodule "networking/roboweldar_networking"]
	path = networking/roboweldar_networking
	url = git@github.com:ikh-innovation/roboweldar-networking.git
[submodule "votenet"]
	path = votenet
	url = git@github.com:ikh-innovation/roboweldar-votenet.git
